<div id="container">
    <div id="gameBoard">
      <div class="word">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
      </div>
      <div class="word">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
      </div>
      <div class="word">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
      </div>
      <div class="word">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
      </div>
      <div class="word">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
      </div>
      <div class="word">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
      </div>
      <button id="checkWordBtn" type="button" disabled="true">Check</button>
    </div>
  </div>